<footer>
    <p>
        <a href="https://github.com/{{ site.social.github }}" target="_blank" rel="noopener">{% include icons.html name="github" size=16 %} GitHub</a> ·
        <a href="https://linkedin.com/in/{{ site.social.linkedin }}" target="_blank" rel="noopener">{% include icons.html name="linkedin" size=16 %} LinkedIn</a> ·
        <a href="https://medium.com/@{{ site.social.medium }}" target="_blank" rel="noopener">{% include icons.html name="medium" size=16 %} Medium</a>
    </p>
</footer>
